node_modules
dist
test/temp
.sass-cache
app/bower_components
.tmp
test/bower_components/
.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_profile
.cache/
.config/
.cups/
.dbshell
.dropbox/
.haxelib
.node-gyp/
.npm/
.oh-my-zsh/
.ssh/
.z
.z.PUN2D7
.z.TEKsoT
.zcompdump-Jonathan's Macbook Pro-5.0.2
.zprofile
.zsh-update
.zsh_history
.zshrc.bak
Applications alias
Applications/
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox/
Gits/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
lib
