.CFUserTextEncoding
.DS_Store
.Xauthority
.adobe/
.android/
.bash_history
.cache/
.cmus/autosave
.cmus/cache
.cmus/command-history
.cmus/lib.pl
.cmus/playlist.pl
.cmus/search-history
.config/
.cups/
.dbshell
.dropbox/
.emacs.d/
.gem/
.gitconfig
.gnupg/
.haxelib
.htoprc
.hushlogin
.hxcpp_config.xml
.ipython/
.lein/
.lesshst
.m2/
.matplotlib/
.mutt/
.muttrc
.mutttqi/
.npm/
.oh-my-zsh/
.password-store/
.php_history
.pip/
.rnd
.ssh/
.subversion/
.terminfo/
.timestat
.vim/.netrwhist
.vim/bundle/
.vim/lastupdate
.vim/undo/
.viminfo
.z
.z.R1SITU
.z.rR6A4R
.zcompdump-k-nine (3)-5.0.5
.zcompdump-k-nine (3)-5.0.7
.zprofile
.zsh-update
.zsh_history
Applications alias
Applications/
Attachments/
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox/
Gits/
Library/
Movies/
Music/
Pictures/
Projects/
Sites/
VirtualBox VMs/
lib
usrlocal
.Skype/
.bash_profile
.cabal/
.credentials
.dbus/
.dropbox-dist/
.dvdcss/
.ghc/
.gimp-2.8/
.gksu.lock
.gnome/
.gstreamer-0.10/
.hplip/
.icons/
.java/
.local/
.mono/
.mountdrive.sh
.mozilla/
.mplayer/
.opera/
.pki/
.python_history
.recently-used
.thumbnails/
.tmp/
.turbulence/
.viminfo.tmp
.xscreensaver
.xsel.log
.z.p8UajO
.zcompdump-tardis-5.0.7
Videos/
thing/
