snippet au augroup ... autocmd block
	augroup ${1:AU_NAME}
		autocmd!
		" this one is which you're most likely to use?
		autocmd ${2:BufRead,BufNewFile} ${3:*.ext,*.ext3|<buffer[=N]>} ${0}
	augroup end
