#################### MENUBAR ###################

style "toolbar-clear-alt-1"		
{
#font_name = "Segoe UI Bold 9"
#font_name = "Sans 8"
  bg[ACTIVE] = "#797979"
  fg[NORMAL] = "#a5a5a5"
  text[NORMAL] = "#a5a5a5"
  fg[PRELIGHT] = "#a5a5a5"
  fg[ACTIVE] = "#a5a5a5"
  #fg[INSENSITIVE] = "#eeeeee"
  #text[PRELIGHT] = "#ffffff"
  GtkToolbar ::button-relief = GTK_RELIEF_NORMAL

  xthickness			= 14
  ythickness			= 14

	engine "pixmap"
	{
		image
		{
			function	= BOX
			file		= "Toolbar/toolbar-clear-alt-01.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}
 	}
}


